name: musixmatch_clone
description: A new Flutter project.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '>=3.0.5 <4.0.0'
  flutter: "^3.10.5"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.18.0

  cupertino_icons: ^1.0.2

  # Architecture
  elementary: ^3.0.0

  # Dependency injection
  get_it: ^7.6.0
  injectable: ^2.1.2

  # Navigation
  go_router: ^10.2.0

  # Networking
  http: ^1.1.0
  dio: ^5.3.2
  retrofit: ^4.0.1
  json_annotation: ^4.8.1

  # Localization
  musixmatch_localization:
    path: packages/musixmatch_localization

dev_dependencies:
  flutter_test:
    sdk: flutter

  build_runner: ^2.4.6
  injectable_generator: ^2.1.6
  retrofit_generator: ^7.0.1
  json_serializable: ^6.7.0

  thunder_analysis:
    git:
      url: https://github.com/khamidjon/thunder-analysis
  flutter_lints: ^2.0.1

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/icons/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
